body {
    background-image: url("images/1.jpg");
    background-size: 100% 1000px;
    display: flexbox;
    direction: rtl;
}

.head {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.692);
    width: 102%;
    padding-top: 22px;
    margin: -8px;
    display: flex;
    ;
}

h1 {
    color: white;
    position: relative;
    top: -30px;
    left: -1100px;
}

li {
    display: inline;
    padding: 15px;
    margin: 0px;
    font-size: 23px;
    border-color: unset;
    justify-content: flex-start;
    align-items: center
}

li:hover {
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(182, 182, 182);
}

.logo {
    width: 170px;
    height: 100px;
    position: relative;
    top: 90px;
    left: -120px;
    color: white;
}


/*.main {
    width: 20%;
    margin: 10px au10pxto;
    color: white;
    font-size: 20px;
}

.sub {
    border: 4px solid rgb(233, 233, 233);
    height: 200px;
}

.slid {
    height: 100%;
    display: flex;
    width: 400%;
    border: 1px solid red;
    transform: translate(-0%);
}

section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.klma {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: cursive;
}

.flex {
    display: flex;
    padding-top: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.one {
    width: 550px;
    height: 190px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(119, 119, 119, 0.596);
    padding-top: 0px;
    position: relative;
    left: -30px;
    top: 170px;
}

.on {
    color: white;
    font-size: 25px;
}

.span {
    font-size: 28px;
    font-weight: bold;
}

.two {
    width: 550px;
    height: 190px;
    background-color: rgba(119, 119, 119, 0.658);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: -680px;
    top: -20px;
}

.tw {
    color: white;
    font-size: 25px;
}

.three {
    width: 1200px;
    height: 230px;
    background-color: rgba(119, 119, 119, 0.664);
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: -30px
}

.th {
    color: white;
    font-size: 25px;
}